{% extends "confBase.html" %}
{% from "_formhelpers.html" import render_field %}




	{% block titre %}
		Ajout d'une page
	{% endblock %}

{% block header %}
	<div class="button-bar">
		<button type="submit" value="save" form="page">
			<i class="icon-check"></i>Save</button>
	</div>
	<h2><span class="lg icon-sound-mix"></span>Configuration
		<span id="part-title"></span></h2>
{% endblock %}



{% block body %}
	{{ super() }}
	{% for message in get_flashed_messages() %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}
	<div class="panel">
		<h3>Page </h3>
		<form class="form-inline" id="page" method="post">
			
			{{ render_field(form.title) }}
			
			{{ render_field(form.categorie) }}
			
			{{ render_field(form.contenu) }}
		</form>
{% endblock %}