{% extends "confBase.html" %}
{% block url %}
{{ url_for('pageAjout') }}
{% endblock %}

{% block titre %}
Page
{% endblock %}

{% block body %}
{{ super() }}

<div class="panel">
	<table>
		<thead>
			<tr>
				<th>page</th>
				<th>Categorie</th>
				<th class=icon>action</th>
			</tr>
		</thead>
		<tbody>
			{% for page in pages %}
			<tr>
				<td>{{ page.titre }}</td>
				<td>{{ page.categorie}}</td>
				<td class=icon><a href={{ url_for('pageDelete' ,
				 id=page.id ) }}><i class="icon-cancel-squared"></i></a></td>

			</tr>

			{% endfor %}
		</tbody>

	</table>	


</div>

{% endblock %}
