{% extends "confBase.html" %}
{% block url %}
{{ url_for('pageAjout') }}
{% endblock %}

{% block titre %}
Page
{% endblock %}

{% block body %}
{{ super() }}

<div class="panel">
	<table>
		<thead>
			<tr>
				<th>
					page
				</th>
				<th>
					action
				</th>
			</tr>
		</thead>
		<tbody>

			{% for key, value in pageData.items() %}

			<tr>
				<td>{{ value }}</td>
				<td class=icon><a href={{ url_for('pageDelete' ,
				 id=key ) }}><i class="icon-cancel-squared"></i></a></td>
			</tr>

			{% endfor %}
		</tbody>

	</table>	


</div>

{% endblock %}