{% extends "confBase.html" %}

	{% block url %}
		{{ url_for('userAjout') }}
	{% endblock %}
	{% block titre %}
		User
	{% endblock %}



	{% block body %}
	{{ super() }}

	<div class="panel">
		<table>
			<thead>
				<th>
					User
				</th>
				<th>
					action
				</th>
			</thead>
			<tbody>
				<tr>
				{% for user in users %}
					<td>{{ user.id }} &mdash; {{ user.password }}</td>
					<td class=icon><a href={{ url_for('userDelete' ,
				 id=user.id ) }}><i class="icon-cancel"></i></a></td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
		
	</div>


	{% endblock %}