{% extends "personneBase.html" %}



	{% block url %}
		{{ url_for('personneAjout') }}
	{% endblock %}

	{% block button %}
		Modifier
	{% endblock %}

	{% block titre %}
		Personne
	{% endblock %}



	{% block body %}
	<nav class=nav-tabs>
		<a href="{{ url_for('personne') }}"
			class="{{page.personne}}">Personne</a>


	</nav>
	<div class="panel">
		<table>
			<tr><th>Nom</th><td>{{ personne.nom }}</td></tr>
			<tr><th>Prenom</th><td>{{ personne.prenom }}</td></tr>
			<tr><th>Nom de jeune fille</th><td>{{ personne.nom_jf }}</td></tr>
			<tr><th>Date de naissance</th><td>{{ personne.date_naissance }}</td></tr>
			<tr><th>Date de recrutement</th><td>{{ personne.date_recrutement }}</td></tr>
			<tr><th>Status</th><td>{{ personne.status }}</td></tr>
			<tr><th>Equipe</th><td>{{ personne.equipe.nom }}</td></tr>
			<tr><th>Permanent</th><td>{{ personne.permanent }}</td></tr>
		</table>
	</div>

	{% endblock %}