{% extends "personneBase.html" %}

	{% block url %}
		{{ url_for('personneAjout') }}
	{% endblock %}
	{% block titre %}
		Personne
	{% endblock %}



	{% block body %}
	{{ super() }}
	<div class="panel">
		<table>
			<thead>
				<th>
					Nom
				</th>
				<th>
					Prenom
				</th>
				<th>
					Date de naissance
				</th>
				<th>
					Date de recrutement
				</th>
				<th>
					Permanent
				</th>
			</thead>
			<tbody>
			{% for p in personnes %}
				<tr>
				<td>{{ p.nom }}</td>
				<td>{{ p.prenom }}</td>
				<td>{{ p.date_naissance }}</td>
				<td>{{ p.date_recrutement }}</td>
				<td>{{ p.permanent }}</td>
				</tr>
			{% endfor %}
			</tbody>

		</table>
		
	</div>


	{% endblock %}