{% extends "index.html" %}

{% block header %}

	<div class="button-bar">
		<button type="submit" value="save" form="user">
			<i class="icon-check"></i>Save</button>
	</div>
	<h2><span class="lg icon-sound-mix"></span>Configuration
		<span id="part-title"></span></h2>
{% endblock %}


{% block body %}
{{ super() }}
	<div class="panel">
		<h3>Content</h3>
		<form class="form-inline" id="page">
			<fieldset class="form-group">
				<label for="titre">titre</label>
				<input type="text" id="titre">
			</fieldset>
			<fieldset class="form-group">
				<label for="categorie">categorie</label>
				<input type="text" id="categorie">
			</fieldset>
			<fieldset class="form-group">
				<label for="contenu">contenu</label>
				<textarea id="contenu" rows="10" cols="50"></textarea>
			</fieldset>
		</form>
{% endblock %}