{% extends "index.html" %}

{% block header %}
	<h2><i class="lg icon-layout"></i>dashboard</h2>
{% endblock %}


{% block body %}
	 {{ super() }}


	<nav class=nav-tabs>
		<a href="#part1" class="selected">System</a>
		<a href="#part1">Site</a>
		<a href="#part1">Info</a>
	</nav>
	<div class="panel">
		<h3>Content</h3>
		<form class="form-inline" id="user">
			<fieldset class="form-group">
				<label for="name">Name</label>
				<input type="text" id="name">
			</fieldset>
			<fieldset class="form-group">
				<label for="email">Email</label>
				<input type="text" id="email">
			</fieldset>
		</form>

{% endblock %}