{% extends "index.html" %}

{% block header %}

	<div class="button-bar">
		<a href="{{ url_for('page', action='ajout') }}" class="button">
			<i class="icon-check"></i>Ajout</a>
	</div>
	<h2><span class="lg icon-sound-mix"></span>Configuration
		<span id="part-title"></span></h2>
{% endblock %}


{% block body %}
{{ super() }}

<div class="panel col-md-3">
<table class="table table-bordered">
	<thead>
		<th>
			page
		</th>
		<th>
			action
		</th>
	</thead>
	<tbody>
		<tr>
			<td>page1</td>
			<td class="icon-cancel"></td>
		</tr>
	</tbody>

</table>	


</div>

	{% endblock %}