{% set current = {'dash':'selected'} %}
{% extends "index.html" %}

{% block header %}
	<h2><i class="lg icon-layout"></i>dashboard</h2>
{% endblock %}


{% block body %}
	 {{ super() }}
<div class="dashboard-item">
		<article class="primary">
		<h3>Maintenance</h3>
		
		<footer class=button-bar>
			<button class="btn-primary">update</button>
			<button class="btn-primary">see</button>
		</footer>
		</article>
	</div>
	<div class="dashboard-item">
		<article class="info">
		<h3>Maintenance</h3>
		<footer class="button-bar">
			<button>update</button>
		</footer>
		</article>
	</div>
	<div class="dashboard-item">
		<article class="success">
		<h3>Maintenance</h3>
		<footer class="button-bar">
			<button>update</button>
		</footer>
		</article>
	</div>
	<div class="clearfix"></div>
	<div class="dashboard-item">
		<article class="danger">
		<h3>Maintenance</h3>
		<footer class="button-bar">
			<button>update</button>
		</footer>
		</article>
	</div>
{% endblock %}