{% set current = {'production':'selected'} %}
{% extends "index.html" %}

{% block header %}

	<div class="button-bar">
		<a href={% block url %}{% endblock %} class="button">
			<i class="icon-plus"></i>Ajout</a>
	</div>
	<h2><span class="lg icon-sound-mix"></span>Production &ndash; 
	<span id="part-title">{% block titre %}{% endblock %}</span></h2>

{% endblock %}

{% block body %}

	<nav class=nav-tabs>
		
		<a href="{{ url_for('doctorant') }}" class="{{page.doctorant}}">
		Doctorant</a>
	</nav>
{% endblock %}