<!doctype html>
<link rel=stylesheet href={{ url_for('static', filename='css/dashboard.css') }}>
<script language="javascript" src={{ url_for('static', filename='js/jquery.js') }}></script>
<script language="javascript" src={{ url_for('static', filename='js/bootstrap.js') }}></script>
<title>Menu</title>
<!-- A -->
<nav id="sidebar">
	<header>
		<h1><a href=/admin>Admin</a></h1>
	</header>
	<ul>
		<li><a href="{{ url_for('dashboard') }}">
			<i class="icon-layout"></i>Information</a></li>
		<li><a href="{{ url_for('config') }}">
			<i class="icon-sound-mix"></i>Configuration</a></li>
	</ul>
</nav>

<header id="bann" class="primary">
	{% block header %}{% endblock %}
</header>

<main id="dashboard">
	{% for message in get_flashed_messages() %}
		<div class="alert alert-info">
			{{ message }}
			<a type="button" class="pull-right" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="icon-cancel-squared"></i></span>
			</a>
		</div>
	{% endfor %}

	{% block body %}{% endblock %}
</main>
