<!doctype html>
<link rel=stylesheet href={{ url_for('static', filename='css/dashboard.css') }}>
<meta charset="UTF-8">
<title>Menu</title>



<nav id="sidebar">
	<header>
		<h1><a href=/admin>Admin</a></h1>
	</header>
	<ul>
		<li><a href="{{ url_for('dashboard') }}">
			<i class="icon-layout"></i>Information</a></li>
		<li><a href="{{ url_for('config') }}">
			<i class="icon-sound-mix"></i>Configuration</a></li>
	</ul>
</nav>


<header id="bann" class="primary">
	{% block header %}

	{% endblock %}
</header>

<main id="dashboard">


    {% block body %}

    {% endblock %}
