{% set current = {'personne':'selected'} %}
{% extends "index.html" %}

{% block header %}


	<div class="button-bar">
	{% if url|default(False) %}
		<a href="{{ url }}" class="button">
			<i class="icon-{{ icon|default('plus') }}"></i>
			{{ link_text|default('Ajout') }}</a>
	{% elif form_id|default(False) %}
		<button type="submit" value="save" form="{{ form_id }}">
			<i class="icon-{{ icon|default('check') }}"></i>Save</button>
	{% endif %}
	</div>

	<h2><span class="lg icon-sound-mix"></span>Personne &ndash;
		<span id="part-title">{% block titre %}{% endblock %}</span></h2>

{% endblock %}

{% block body %}

	<nav class=nav-tabs>
		<a href="{{ url_for('personne') }}"
		   class="{{ page.personne }}">Personne</a>
		<a href="{{ url_for('doctorant') }}"
		   class="{{ page.doctorant }}">Doctorant</a>
		<a href="{{ url_for('datePromotion') }}"
		   class="{{ page.datePromotion }}">Date promotion</a>
	</nav>
{% endblock %}