{% set current = {'personne':'selected'} %}
{% extends "index.html" %}

{% block header %}

	<div class="button-bar">
		<a href={% block url %}{% endblock %} class="button">
			<i class="icon-plus"></i>Ajout</a>
	</div>
	<h2><span class="lg icon-sound-mix"></span>Personne &ndash; 
	<span id="part-title">{% block titre %}{% endblock %}</span></h2>

{% endblock %}

{% block body %}

	<nav class=nav-tabs>
		<a href="{{ url_for('personne') }}"
			class="{{page.personne}}">Personne</a>
		<a href="{{ url_for('doctorant') }}"
			class="{{page.doctorant}}">Doctorant</a>
		<a href="{{ url_for('datePromotion') }}"
			class="{{page.datePromotion}}">Date promotion</a>

	</nav>
{% endblock %}