{% set current = {'dash':'selected'} %}
{% extends "index.html" %}

{% block header %}
	<div class="button-bar">
		<a href="{{ url_for('build') }}" class="button">
			<i class="icon-plus"></i>Build</a>
	</div>
	<h2><i class="lg icon-layout"></i>dashboard</h2>
{% endblock %}


{% block body %}
	<style>
		#wrap {
			width: 100%; height: 520px; padding: 0; overflow: hidden;
		}
		iframe {
			width: 120%; height: 700px; border: 1px solid black;
			zoom: 0.80;
			-ms-zoom: 0.80;
			-moz-transform: scale(0.80);
			-moz-transform-origin: 0 0;
			-o-transform: scale(0.80);
			-o-transform-origin: 0 0;
			-webkit-transform: scale(0.80);
			-webkit-transform-origin: 0 0;
		}
	</style>
	<div id=wrap>
		<iframe src=http://localhost:2500></iframe>
	</div>
{% endblock %}
