{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_personne') }}" method=post class=add-personne>
    <dl>
        <dt>Nom:
        <dd><input type=text size=30 name=nom>
        <dt>Prénom:
        <dd><input type=text size=30 name=prenom>
        <dt>statut:
        <dd><input type=number size=30 name=statut>
        <dt>Equipe:
        <dd><input type=number size=30 name=equipe>
        <dt>Date:
        <dd><input type=date size=30 name=date_recrutement>
        <dt>Permanent:
        <dd><input type=number size=30 name=permanent>
        <dd><input type=submit value=Share>
    </dl>
</form>
{% endif %}
<ul class=entries>
    {% for personne in personnes %}
    <li><h2>{{ personne.nom }}</h2>{{ personne.prenom|safe }}
        {% else %}
    <li><em>Unbelievable.  No personnes here so far</em>
        {% endfor %}
</ul>
{% endblock %}