{% set url = url_for("statut.create") %}
{% set link_text = "Ajout" %}
{% set page = {"statut":"selected"} %}
{% extends "personnel/base.html" %}

	{% block titre %}
		Statut
	{% endblock %}



	{% block body %}
	{{ super() }}
	<div class="panel">
		<table>
			<thead>
				<th>Description</th>
				<th class=icon>Action</th>
			</thead>
			<tbody>
			{% for st in list %}
				<tr>
					<td>{{ st.description }}</td>
					<td class=icon>
						<a href="{{ url_for('statut.delete',
							id=st.id, name=st) }}">
							<i class=icon-cancel-squared></i></a>
						<a href="{{ url_for('statut.update', id=st.id) }}">
							modifier</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>

		</table>
		
	</div>


	{% endblock %}
